.card-div{
    margin-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.card-body{
    border: 3px solid #ccc;
    padding: 5%;
}

.add-buttons{
    margin-top:20px;
    height: 30px;
}

.add-buttons button{
    margin-left: 20px;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #563D7C;
    color: #fff;
}

.expense-list{
    position: relative;
    top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
.expense-list table{
    border: 3px solid #ccc;        
}
.edit-expense, .delete-expense{
    cursor: pointer;
    text-decoration: none !important;

}
.joke-content{
    text-align: center;
}
.jokes-div{

    border: 3px solid #ccc;
    padding: 20px;
    margin-top: 40px;

}

.jokes-div div{
    display: flex;
    justify-content: center;
}

.jokes-div p{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 400;
}

@media screen and (min-width: 320px) and (max-width: 790px) {
    .rp{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 20px;
    }
    .card-div{
        margin-top: 0px;
    }
    .expense-list{
        position: relative;
        top: 20px;
    }

    .expense-list table{
        border: 3px solid #ccc;        
    }
}

@media screen and (min-width: 800px) {
    .rlp{
        padding-left: 0px;
    }

    .rrp{
        padding-right: 0px;
    }
}

.no-data{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    color: red;
    font-weight: 900;
    font-size: 18px;
}